body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* PAGE D’ACCUEIL */
body.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-container {
  text-align: center;
}

.subtitle {
  margin-top: -10px;
  margin-bottom: 20px;
  color: #ccc;
}

.play-btn {
  padding: 15px 40px;
  font-size: 22px;
  cursor: pointer;
  background: #00bcd4;
  border: none;
  border-radius: 8px;
  color: black;
  transition: 0.2s;
}

.play-btn:hover {
  background: #0097a7;
}

.menu-grid {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.menu-btn {
  padding: 12px 25px;
  background: #444;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.menu-btn:hover {
  background: #666;
}

.level-box {
  margin-top: 20px;
  color: #ccc;
}

/* JEU */
#hud {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}

#gameCanvas {
  background: #222;
  display: block;
  margin: 20px auto;
  border: 2px solid #444;
}